<form action="/" method="post" id="add_property-form">
  Property Name:
    <input type="text" name="property_name" value=""><br>
    Price Per Night:
    <input type="text" name="price_per_night" value=""><br>
    Property Specs:
    <input type="text" name="property_specs" value=""><br>
    Location:
    <input type="text" name="location" value=""><br>
    Detailed Description:
    <input type="text" name="detailed_description" value=""><br>
    Date Available:
    <input type="date" name="date_available"><br>
    Available Until:
    <input type="date" name="available_until"><br>
    Email Address:
    <input type="email" name="email_address" value=""><br>
    <input type="submit" id="Submit" name="Submit" value="Submit"><br>
</form>
